<div class="p_rest">
<%= render partial: 'shared/alert', locals: { alert: alert } %>
<%= render partial: 'new', locals: { user: @user } %><br>
<%= button_to "Back",root_path, :method => "get" %><br>
</div>
