<% if !alert.nil? %>
<div class="center_alert">
  <% if alert.kind_of?(Array) %>
    <% alert.each do |warn| %>
	     <strong><%= warn %></strong><br>
       <% end %><br>
    <% else %>
      <%= alert %>
    <% end  %>
  </div><br>
<% end %>
