<div class="p_rest center">
<%= render partial: 'shared/alert', locals: { alert: alert } %>
<% if logged_in?%>
  <p>Welcome to Fortuitous Foods!</p>
  <p>You can search, save, or get a random restaurant from your area!</p>

<% else %>
  <%= button_to "Login", login_path, :method => "get", class:"button" %>
  <%= button_to "Sign Up", new_user_path, :method => "get", class:"button" %>
  <%= button_to "Log in with Facebook!", "/auth/facebook", :method => "get", class:"button" %>
  <p>Test Login</p>
  <p>Username: user1</p>
  <p>Password: password</p>
<% end %>
</div><br>
